modules = ["nodejs-20", "web", "bash"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node backend/server.js"]
build = ["sh", "-c", "cd frontend && npm run build"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 41592687
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run dev"
