body {
    font-family: Arial, sans-serif;
    background-color: #EEF8D3;
}
.main-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-header {
    text-align: center;
    color: green;
    margin-bottom: 20px;
}