.gallery-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
/* Events section */
.eventform-link {
  color: #fff;
  background-color: green; /* indigo-700 */
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
@media (max-width:1024px) {
  .gallery-container{
    max-width: 800px;
  }
}
@media (max-width:480px) {
  .gallery-container{
    max-width: 450px;
  }
}
