/* MainLayout.css */
/* Adjust as needed based on navbar height */
.container body.menu-open { 
  padding-top: 0; 
} 

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 200px;
}
  
@media (min-width: 769px) {
  body.menu-open {
    padding-top: 0; /* Ensure padding is removed on desktop view */
  }
}
  